.navbar{
  height: 54px;
  flex-shrink: 0;
}
.navbar-brand{
  font-family: Helvetica;
  font-weight: 800;
}
#artistSearchResults{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 3;
}
.dropdown{
  position: absolute;
  top: 150%;
  right: 0;
}
.at-form{
  width: 245px;
}