<template name="nav">
  <nav class="navbar dark-grey">
    <div class="d-flex justify-content-between f-1">
      <a href="/home" class="navbar-brand dark-grey">
        Gimmex Gaming
      </a>
      <div class="d-flex f-1">
        <div class="d-flex dropdownTrigger btn btn-dark-grey black-hover mr-3">
            Games
          <div id="gamesListDropdownInd" class="ml-1 dropdownIndicator-left flat"></div>
        </div>
        <div id="gamesListDropdown" class="dark-grey d-flex pb-3 px-5 dropdown flat scroll-x">
          {{#if search "Games" false false false}}
            {{#each search "Games" false false false}}
              {{>gameCard this}}
            {{/each}}
          {{/if}}
        </div>
        <div class="d-flex dropdownTrigger btn btn-dark-grey black-hover">
            Developers
          <div id="devsListDropdownInd" class="ml-1 dropdownIndicator-left flat"></div>
        </div>
        <div id="devsListDropdown" class="dark-grey d-flex pb-3 px-5 dropdown flat scroll-x">
          {{#each search "Users" (join "dev" true) false false}}
            {{>devCard this}}
          {{/each}}
        </div>
      </div>
      <div class="dropdownTrigger navDrop text-light d-flex">
        {{#if currentUser}}
          <div>{{currentUser.username}}</div>
        {{else}}
          <div>Login/Sign up</div>
				{{/if}}
				<div class="ml-1 dropdownIndicator-left flat"></div>
			</div>
			<div id="logoutDropdown" class="grey dropdown flat">
        {{#if currentUser}}
          <div class="at-form">
            <div class="at-pwd-form">
              <button type="submit" id="logoutBtn" class="at-btn submit btn btn-block btn-default">Logout</button>
            </div>
          </div>
        {{else}}
          {{>atForm}}
        {{/if}}
			</div>
    </div>
	</nav>
</template>

<template name="gameCard">
  <div class="card pointer grey dark-grey-hover mr-3 border gameCard">
    {{name}}
  </div>
</template>

<template name="devCard">
  <div class="card pointer grey dark-grey-hover mr-3 border gameCard">
    {{log this}}
    {{username}}
  </div>
</template>