<template name="chat">
	<div class="chat p-2 d-flex flex-column {{targetArtist.theme}}-light {{#if (not receiver)}}border-bottom border-left border-top{{/if}}">
		<div class="d-flex flex-column scroll-y">
			{{#each (myChat receiver sender)}}
				{{#if newTimestamp @index}}
					<div class="px-2">
						<div class="d-flex align-items-center">
							<div class="f-a border-top"></div>
								<div class="mx-1 timestamp">{{timestamp.date.MMM}} {{timestamp.date.D}}</div>
							<div class="f-a border-top"></div>
						</div>
					</div>
				{{/if}}
				<div class="bg-white position-relative p-1">
					<b class="{{#if (is sender receiver)}}{{targetArtist.theme}}-text{{/if}}">{{search "Users" false sender "username"}}</b>:
					{{body}}
					<div class="timestamp">
						{{timestamp.h}}:{{timestamp.mm}} {{timestamp.a}}
					</div>
				</div>
			{{/each}}
		</div>
		{{#if currentUser}}
			<form id="chatBoxSend" class="mt-2">
				<div contenteditable="true" class="px-1 border border-dark bg-white rounded"></div>
				<button type="submit" class="btn btn-sm mt-1 btn-{{targetArtist.theme}}">Send</button>
			</form>
		{{else}}
			Please log or sign up to chat!
		{{/if}}
	</div>
</template>